body {
  background-image: url("../styles/Images/Gotham_skyline1.webp");
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  animation: blink 2s linear infinite;
}

p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(215, 136, 46);
  border: 2px solid orange;
  height: 70px;
  width: 200px;
  border-radius: 10%;
}

.settings {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1300px;
  margin-top: -1150px;
  border: 5px solid orange;
  border-radius: 20px;
  background-color: rgb(238, 217, 195);
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
  background-color: rgb(215, 136, 46);
  border: 2px solid orange;
  color: rgb(106, 75, 58);
  font-size: 22px;
  border-radius: 30%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h2 {
  border: 2px solid orange;
  border-radius: 30%;
  background-color: rgb(215, 136, 46);
  height: 100px;
  width: 150px;
  display: flex;
  padding-left: 50px;
  align-items: center;
  color: rgb(106, 75, 58);
}
.grid-wrapper {
  height: 90vh;
  display: flex;
  width: 900px;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  height: 800px;
  width: 700px;
  margin-top: -1000px;
  opacity: 0.8;
}

.grid div {
  border: 10px solid orange;
  border-radius: 15px;
  height: 10%;
  width: 10%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.grid div.batman {
  background-image: url(../styles/Images/Batman_Vol_3_86_Textless.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.joker {
  background-image: url(../styles/Images/705479-original.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.instructions {
  border: 5px solid orange;
  border-radius: 20px;
  height: 100px;
  width: 250px;
  color: rgb(106, 75, 58);
  background-color: rgb(238, 217, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 20px;
}

.characters {
  border: 5px solid orange;
  color: rgb(106, 75, 58);
  border-radius: 20px;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  margin-left: 50px;
  background-color: rgb(238, 217, 195);
  font-family: Arial, Helvetica, sans-serif;
}

.player {
  width: 70px;
  height: 70px;
  border-radius: 20%;
}

.banner {
  height: 200px;
  width: 600px;
  opacity: 0.7;
  border-radius: 40%;
  margin-left: 1200px;
  margin-bottom: 30px;
}

#white {
  font: white;
}

.icon {
  height: 30px;
}
